source/tools/privacyscope/Debug/CL.read.1.tlog
source/tools/privacyscope/Debug/CL.write.1.tlog
source/tools/privacyscope/Debug/PrivacyScope.dll
source/tools/privacyscope/Debug/PrivacyScope.exp
source/tools/privacyscope/Debug/PrivacyScope.lastbuildstate
source/tools/privacyscope/Debug/PrivacyScope.lib
source/tools/privacyscope/Debug/PrivacyScope.log
source/tools/privacyscope/Debug/PrivacyScope.pdb
source/tools/privacyscope/Debug/PrivacyScope.write.1.tlog
source/tools/privacyscope/Debug/cl.command.1.tlog
source/tools/privacyscope/Debug/coded_stream.obj
source/tools/privacyscope/Debug/common.obj
source/tools/privacyscope/Debug/descriptor.obj
source/tools/privacyscope/Debug/descriptor.pb.obj
source/tools/privacyscope/Debug/descriptor_database.obj
source/tools/privacyscope/Debug/dynamic_message.obj
source/tools/privacyscope/Debug/exp.obj
source/tools/privacyscope/Debug/exp_c.obj
source/tools/privacyscope/Debug/extension_set.obj
source/tools/privacyscope/Debug/extension_set_heavy.obj
source/tools/privacyscope/Debug/frame.piqi.pb.obj
source/tools/privacyscope/Debug/generated_message_reflection.obj
source/tools/privacyscope/Debug/generated_message_util.obj
source/tools/privacyscope/Debug/gentrace.obj
source/tools/privacyscope/Debug/gzip_stream.obj
source/tools/privacyscope/Debug/libdasm.obj
source/tools/privacyscope/Debug/link.command.1.tlog
source/tools/privacyscope/Debug/link.read.1.tlog
source/tools/privacyscope/Debug/link.write.1.tlog
source/tools/privacyscope/Debug/message.obj
source/tools/privacyscope/Debug/message_lite.obj
source/tools/privacyscope/Debug/once.obj
source/tools/privacyscope/Debug/pin_frame.obj
source/tools/privacyscope/Debug/pin_misc.obj
source/tools/privacyscope/Debug/pin_taint.obj
source/tools/privacyscope/Debug/pin_trace.obj
source/tools/privacyscope/Debug/pivot.obj
source/tools/privacyscope/Debug/printer.obj
source/tools/privacyscope/Debug/reflection_ops.obj
source/tools/privacyscope/Debug/reg_mapping.obj
source/tools/privacyscope/Debug/reg_mapping_pin.obj
source/tools/privacyscope/Debug/repeated_field.obj
source/tools/privacyscope/Debug/service.obj
source/tools/privacyscope/Debug/stmt.obj
source/tools/privacyscope/Debug/stmt_c.obj
source/tools/privacyscope/Debug/structurally_valid.obj
source/tools/privacyscope/Debug/strutil.obj
source/tools/privacyscope/Debug/substitute.obj
source/tools/privacyscope/Debug/text_format.obj
source/tools/privacyscope/Debug/tokenizer.obj
source/tools/privacyscope/Debug/trace.container.obj
source/tools/privacyscope/Debug/unknown_field_set.obj
source/tools/privacyscope/Debug/vc100.pdb
source/tools/privacyscope/Debug/winsyscalls.obj
source/tools/privacyscope/Debug/wire_format.obj
source/tools/privacyscope/Debug/wire_format_lite.obj
source/tools/privacyscope/Debug/zero_copy_stream.obj
source/tools/privacyscope/Debug/zero_copy_stream_impl.obj
source/tools/privacyscope/Debug/zero_copy_stream_impl_lite.obj
source/tools/privacyscope/PrivacyScope.opensdf
source/tools/privacyscope/PrivacyScope.sdf
source/tools/privacyscope/PrivacyScope.suo
source/tools/privacyscope/Release/*
source/tools/privacyscope/x64/*